<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>This is about Section</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure rem rerum quos placeat, provident cum quibusdam dignissimos a. Similique quidem nemo sit, sequi beatae esse minus qui placeat. Maiores, consequuntur obcaecati numquam ad quod officia mollitia temporibus molestias voluptatem assumenda! Consectetur dignissimos molestias voluptatibus ducimus maiores numquam incidunt error suscipit?</p>
    </section>
</body>
</html>