<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/myStyle.css}"/>
</head>
<body>
    <div class="container">
        <img src="" class="profile" th:src="@{/image/flower.jpg}" alt="" />
        <h1>Adding CSS , JavaScript and Image in thymeleaf</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa in consequatur nulla ipsam vitae maiores vero placeat porro, repellat minus culpa nisi? Placeat facilis at hic quae pariatur debitis architecto?</p>
    </div>
    <script src="" th:src="@{/js/myJS.js}"></script>
</body>
</html>