<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Template</title>
</head>
<body>
    <footer id="fragmentTag" th:fragment="footer1(title,subTitle)">
        <div class="container">
            <h1 th:text="${title}"></h1>
            <h1 th:text="${subTitle}"></h1>
            <h2>Provide Good content about programming</h2>
            <h3>Let's learn together</h3>
        </div>
    </footer>
</body>
</html>