<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Going to traverse in collection....</h1>
    <h4 th:text="${names}"></h4>
    <ul>
        <li th:each="n,status : ${names}">
            <span th:style="${status.odd} ? 'font-weight:bold;color:green':'color:red' " th:text="${status.index}+' - '+${n}"></span>
        </li>
    </ul>
</body>
</html>